.mi-item {
  background-color: $mi-item-bg;
  padding: $grid-gutter-width;
  display: block;
  box-shadow: 0 1px 0 0 #e7e7e7;
  position: relative;

  a {
    &:hover {
      cursor: pointer;
    }

    &.preview {
      display: inline-block;
      background: black;
      padding: 0;
      img {
        transition: all 0.1s linear;
      }
      &:hover img {
        opacity: .2;
      }
    }

  }

  .title {
    font-weight: bold;
    line-height: 1.2;
  }

  p {
    padding: 0;
    margin: 0;
    &.info {
      color: #b3b3b3
    }
    &.more,
    > a {
      color: #000;
    }
  }
}