$mi-category-color: #fff;

.mi-category-group {
  > p {
    > a {
      color: #b3b3b3;
    }
    text-align: right;
    .icon-link-arrow-thin {
      margin: 0 .2em;
      font-size: .6em;
      font-weight: normal;
      vertical-align: middle;
    }
  }
}

.mi-category-item {
  color: $mi-category-color;
  margin-bottom: 10px;
  padding: 0;
  box-shadow: none;

  &:hover {
    cursor: pointer;
    color: darken($mi-category-color, 50%);
  }
  > p {
    position: absolute;
    bottom: $grid-gutter-width / 2;
    left: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
    height: $line-height-base * 1em;
  }
}