.mi-list-group {}
.mi-list-item {
  margin-bottom: $grid-gutter-width;

  .icon-link-arrow-thin {
    margin: 0 .5em 0 0;
    font-size: .7em;
    font-weight: normal;
    vertical-align: middle;
  }
}