.mi-nav-group {
  background-color: $mi-white;
  padding: $grid-gutter-width;
  box-shadow: 0 1px 0 0 $mi-grey-light;
}

.mi-nav-item {
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

.mi-nav-logo {
}

.mi-nav-search {
  .form-search {
    margin-right: 0;
    padding: 1px;
    .btn-search {
      font-size: 18px; // default font-size of html/body
    }
  }
  input[type='search'] {
    height: 2em;
    font-size: 1em;
    padding: 5px 10px;
  }
}
