.mi-item {
  background-color: $mi-item-bg;
  padding: $grid-gutter-width;
  display: block;
  box-shadow: 0 1px 0 0 #e7e7e7;

  a {

    &:hover {
      cursor: pointer;
    }
  }

  .preview {
    a {
      img {

      }
    }
  }

  .title {
    font-weight: bold;
  }

  p {
    padding: 0;
    margin: 0;
    &.info {
      color: #b3b3b3
    }
    &.more,
    > a {
      color: #000;
    }
  }
}