$mi-back: #000;
$mi-white: #fff;
$mi-grey: #b3b3b3;
$mi-grey-light: #e7e7e7;
$mi-orange: #ff7001;   // the hoffmann group orange

$mi-item-bg: #f9f9f9;

$mi-teaser-height: 365px;
$mi-teaser-content-height: 50px;
$mi-teaser-bg: #df4401;
$mi-teaser-bg-img: '../img/HoGTV-Streifen-orange-2000x600.jpeg';

$mi-item-hover-img: '../img/icon-play.png';